.user-header {
	background-color: #212121 !important;
	padding: 0 24px;
	line-height: 56px;
	bottom: 0;
	width: 240px;
	position: fixed;

	.avatar {
		margin-right: 0.5em;
	}

	.text,
	.menu {
		display: inline-block;
	}

	.menu {
		float: right;
		height: 56px;

		i {
			font-size: 18px;
			margin-left: 5px;
			cursor: pointer;
			transition: color 0.3s;
			vertical-align: middle;
		}
	}
}
