html {
  height: 100%; }

body > #root > .App {
  color: #fff;
  min-height: 100%;
  overflow: hidden;
  background-color: transparent !important; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(255, 77, 77, 0.6) 10%, rgba(255, 129, 131, 0.6)), url("https://ggiuliafilippini.files.wordpress.com/2015/06/flat-mountains-1080p.jpg") no-repeat;
  background-position: 50% 50%; }

.centered {
  text-align: center; }

.ant-layout-sider-collapsed .no-display {
  display: none !important; }

.menu i {
  padding: 5px;
  border-radius: 4px; }
  .menu i:hover {
    background-color: #111; }

.server-sidebar,
.channel-sidebar,
.member-sidebar {
  height: 100vh !important; }

.main-content {
  background-color: rgba(66, 66, 66, 0.8) !important; }

.user-header {
  background-color: #212121 !important;
  padding: 0 24px;
  line-height: 56px;
  bottom: 0;
  width: 240px;
  position: fixed; }
  .user-header .ant-avatar {
    margin-right: 0.5em;
    cursor: pointer; }
    .user-header .ant-avatar:hover {
      opacity: 0.8; }
  .user-header .menu {
    float: right;
    height: 56px; }
    .user-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s;
      vertical-align: middle; }

.server-sidebar {
  background-color: rgba(17, 17, 17, 0.8) !important;
  text-align: center; }
  .server-sidebar button {
    margin: 0.8em 0; }

.server-header {
  background-color: #303030 !important;
  line-height: 56px;
  padding: 0 24px;
  width: 240px; }
  .server-header .menu {
    float: right; }
    .server-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.server-list {
  overflow-y: auto;
  max-height: calc(100% - 158.6px); }
  .server-list .ant-avatar {
    cursor: pointer; }
    .server-list .ant-avatar:hover {
      border-radius: 15%; }

.channel-sidebar {
  background-color: rgba(48, 48, 48, 0.8) !important;
  position: relative; }

.channel-header {
  background-color: #424242 !important;
  line-height: 56px !important;
  height: 56px !important; }
  .channel-header .trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s; }
    .channel-header .trigger:hover {
      color: #7a5ac3; }
  .channel-header .menu {
    float: right; }
    .channel-header .menu i {
      font-size: 18px;
      margin-right: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.channel-list {
  height: calc(100% - 56px);
  overflow-y: auto;
  max-height: calc(100% - 56px); }
  .channel-list .channel-types {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .channel-list i {
    color: #fff; }
  .channel-list .menu i {
    font-size: 18px;
    margin-right: 24px;
    cursor: pointer;
    transition: color 0.3s; }

.channel-panel {
  border-bottom: none !important;
  overflow: "hidden"; }
  .channel-panel .arrow {
    line-height: 52px !important; }
  .channel-panel .ant-collapse-content-box {
    padding: 0 !important; }

.channel-item {
  color: #999;
  border-left: 4px solid transparent;
  height: 40px;
  line-height: 40px;
  position: relative; }
  .channel-item .channel-item-header {
    padding-left: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .channel-item .channel-item-header .hash-tag {
      margin-right: 0.7em; }
  .channel-item i {
    color: #999 !important; }
  .channel-item .menu {
    visibility: hidden !important; }
  .channel-item:hover, .channel-item.active {
    border-left: 4px solid #7a5ac3;
    background: #424242;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
    .channel-item:hover i,
    .channel-item:hover .text, .channel-item.active i,
    .channel-item.active .text {
      color: white !important; }
    .channel-item:hover .menu, .channel-item.active .menu {
      visibility: visible !important; }
  .channel-item.active:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0px;
    right: 0; }

.channel-collapse-item .ant-collapse-header {
  border-left: 4px solid transparent;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  .channel-collapse-item .ant-collapse-header .arrow {
    height: 40px !important;
    line-height: 40px !important;
    margin-left: 18px; }
  .channel-collapse-item .ant-collapse-header i {
    color: #999 !important; }
  .channel-collapse-item .ant-collapse-header .menu {
    visibility: hidden !important; }
  .channel-collapse-item .ant-collapse-header .channel-item-header {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    height: 40px;
    line-height: 40px;
    cursor: pointer; }
    .channel-collapse-item .ant-collapse-header .channel-item-header .text {
      color: #999; }
  .channel-collapse-item .ant-collapse-header:hover, .channel-collapse-item .ant-collapse-header.active {
    border-left: 4px solid #7a5ac3;
    background: #424242;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
    .channel-collapse-item .ant-collapse-header:hover i,
    .channel-collapse-item .ant-collapse-header:hover .text, .channel-collapse-item .ant-collapse-header.active i,
    .channel-collapse-item .ant-collapse-header.active .text {
      color: white !important; }
    .channel-collapse-item .ant-collapse-header:hover .menu, .channel-collapse-item .ant-collapse-header.active .menu {
      visibility: visible !important; }
  .channel-collapse-item .ant-collapse-header.active:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0px;
    right: 0; }

.channel-presence {
  padding-left: 58px; }
  .channel-presence .ant-avatar {
    margin-right: 0.5em;
    vertical-align: middle; }
  .channel-presence .member {
    margin: 0.5em auto;
    color: #999; }
    .channel-presence .member:hover {
      color: #fff; }
    .channel-presence .member .text {
      vertical-align: middle; }

.member-sidebar {
  background-color: rgba(33, 33, 33, 0.8) !important; }
  .member-sidebar .header {
    line-height: 56px; }
  .member-sidebar .trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s; }
    .member-sidebar .trigger:hover {
      color: #7a5ac3; }

.member-list {
  height: calc(100% - 116px);
  overflow-y: auto;
  max-height: calc(100% - 112px); }
  .member-list .ant-avatar {
    margin-right: 0.5em;
    vertical-align: middle;
    cursor: pointer; }
  .member-list .member {
    margin: 0.5em auto;
    background-color: transparent;
    transition: all 0.5s ease-out; }
    .member-list .member:hover {
      background: black;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, black, rgba(0, 0, 0, 0)); }
    .member-list .member .text {
      vertical-align: middle; }

.chat-room {
  background-color: rgba(66, 66, 66, 0.8) !important;
  overflow: hidden; }

.chat-history .chat-list {
  padding: 24px 7px 24px 24px;
  max-height: calc(100vh - 145px);
  overflow-y: scroll; }
  .chat-history .chat-list .auth {
    color: #fff; }
  .chat-history .chat-list .date {
    color: #999; }
  .chat-history .chat-list .menu {
    float: right;
    visibility: hidden !important; }
  .chat-history .chat-list .chat-list-item {
    color: #c9c9c9; }
    .chat-history .chat-list .chat-list-item:hover .menu {
      visibility: visible !important; }

.chat-input {
  padding-top: 18px;
  padding-bottom: 30px;
  border-top: 1px solid #e8e8e8;
  margin: 0 24px; }
